.beginButton{
	width: 281px;
	background: lightblue;
	line-height: 47px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: deeppink;
	border-radius: 5px; 
	cursor: pointer;
	display: block;	
	margin-left:364px;
	margin-top:-135px;
}

.beginButton:hover {
	background:black;
	color: yellow;
}


.instructionsButton{
	width: 282px;
	background: lightblue;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: deeppink;
	border-radius: 5px; 
	cursor: pointer;
	display: block;	
	margin-left: 364px;
}

.instructionsButton:hover {
	background:black;
	color: yellow;
}

.beginButton2{
	width: 279px;
	background: blue;
	line-height: 43px;
	text-align: center;
	font-weight: bold;
	color: red;
	border-radius: 5px; 
	cursor: pointer;
	display: block;	
	margin-left:366px;
	margin-top: -135px;
}

.beginButton2:hover {
	background:black;
	color: yellow;
}

.container{
	background-color: red;
	width:660px;
	margin: auto;
 }
.card{
	display: inline-block;
	float: right;
    margin: 10px;
    height: 150px;
    width:200px;
    background: orange;
    text-align: center;
    border-radius: 5px; 
}
.card p{
	font-size: 40px;
	color: white;
}
body{
	border: solid pink 5px;
	border-radius: 20px;
    height: 681px;
    width: 707px;
    margin: 334px;
    margin-top: 34px;
    background: white;
}

.doraTheExplorerindex{
	margin-left: 52px;
	margin-top: 172px;
}
html{
	background-image: url(http://cdn.wallpapersafari.com/53/19/Dg4HEs.jpg);
}

